CommTcper/Connected Services/SRWeb/AutoPastingBarcodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:ns1="http://request.object.rockwell.com" xmlns:tns="http://production.rockwell.com" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://production.rockwell.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://request.object.rockwell.com">
      <xsd:complexType name="ApbApplyForDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="orderId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="productionLine" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ApbGiveBackDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="barcodes" nillable="true" type="tns:ArrayOfString" />
          <xsd:element minOccurs="0" name="orderId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="productionLine" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://production.rockwell.com">
      <xsd:element name="applyForBarcode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="ns1:ApbApplyForDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="applyForBarcodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="giveBackBarcode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="ns1:ApbGiveBackDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="giveBackBarcodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="applyForBarcodeRequest">
    <wsdl:part name="parameters" element="tns:applyForBarcode" />
  </wsdl:message>
  <wsdl:message name="applyForBarcodeResponse">
    <wsdl:part name="parameters" element="tns:applyForBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="giveBackBarcodeResponse">
    <wsdl:part name="parameters" element="tns:giveBackBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="giveBackBarcodeRequest">
    <wsdl:part name="parameters" element="tns:giveBackBarcode" />
  </wsdl:message>
  <wsdl:portType name="AutoPastingBarcodeServicePortType">
    <wsdl:operation name="applyForBarcode">
      <wsdl:input name="applyForBarcodeRequest" message="tns:applyForBarcodeRequest" />
      <wsdl:output name="applyForBarcodeResponse" message="tns:applyForBarcodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="giveBackBarcode">
      <wsdl:input name="giveBackBarcodeRequest" message="tns:giveBackBarcodeRequest" />
      <wsdl:output name="giveBackBarcodeResponse" message="tns:giveBackBarcodeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoPastingBarcodeServiceHttpBinding" type="tns:AutoPastingBarcodeServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="applyForBarcode">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="applyForBarcodeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="applyForBarcodeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="giveBackBarcode">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="giveBackBarcodeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="giveBackBarcodeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoPastingBarcodeService">
    <wsdl:port name="AutoPastingBarcodeServiceHttpPort" binding="tns:AutoPastingBarcodeServiceHttpBinding">
      <wsdlsoap:address location="http://10.25.0.26:8099/AutoPastingBarcode/AutoPastingBarcodeService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>